/* Import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
/* Styling */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: linear-gradient(#5EFCE8,#736EFE);
}

.container {
    width: 600px;
    background: #fff;
    border-radius: 20px;
    padding: 30px 30px 25px
}

.container .title {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.content .quote-area {
    margin-top: 10px;
    display: flex;
    text-align: center;
}

.content .quote-area i{
    font-size: 12px;
}

.content .quote-area i:first-child{
    margin: 3px 5px 0 0;
}

.content .quote-area i:last-child{
    display: flex;
    align-items: flex-end;
    margin: 0 0 3px 5px;
}

.content .quote-area .quote{
    font-size: 16px;
    text-align: center;
}

.container .author{ 
    display: flex;
    font-size: 15px;
    font-style: italic;
    margin-top: 17px;
    justify-content: flex-end;
}

.author span:first-child{
    margin: -5px 5px -1px 0;
    font-weight: 700;
    font-family: monospace;
}

.button {
    border-top: 1px solid #ccc;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.button button{
    margin-top: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    color: white;
    padding: 8px 52px;
    border-radius: 30px;
    background: #736EFE;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #736EFE;
}

.foot {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin-bottom: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    display: inline-block;
    color: #BDBDBD;
    font-size: 15px;
}

.foot a{
    text-decoration: none;    
    color: #BDBDBD;
}

/* Responsive Media */
@media (max-width: 450px) {
    .container {
        width: 300px;
    }

    .container .title {
        font-size: 14px;
    }
    
    .content .quote-area .quote {
        font-size: 10px;
    }

    .content .quote-area i{
        font-size: 10px;
    }

    .content .author .name {
        font-size: 12px;
    }

    .button button{
        padding: 8px 20px;
        font-size: 10px;
    }

    .foot {
        margin-bottom: 10px;
        font-size: 10px;
    }
}